.header {
    padding-top: 0.9rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    width: 7rem;
    height: auto;
}

.header__select {
    display: none;
    background-color: rgba(0, 0, 0, 0.6);
    color: var(--color-text);
    border: 1px solid var(--color-slate600);
    border-radius: 4px;
    padding: 0.5em;
    font-size: 0.9rem;
}

.header__select-container {
    display: flex;
    gap: 0.5em;
}

.header__btn {
    font-size: 0.9rem;
    text-decoration: none;
}

/* xs */
/* 475px */
@media (min-width: 29.6875rem) {
    .header__select {
        display: inline-block;
        margin-right: 1rem;
    }
}

/* sm */
/* 640px */
@media (min-width: 40rem) {
    .header__select {
        padding: 0.5em 1em;
        font-size: 1rem;
    }
}

/* md */
/* 768px */
@media (min-width: 48rem) {
    .header {
        padding-top: 0;
    }
    .header__logo {
        width: 12rem;
    }
}

/* lg */
/* 1024px */
/* @media (min-width: 64rem) {} */

/* xl */
/* 1280px */
/* @media (min-width: 80rem) {} */

/* 2xl */
/* 1536px */
/* @media (min-width: 96rem) {} */
